.collapsible {
  background-color: #c0c0c0;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  font-family: Courier New;
}


.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.topnav {
  background-color: white;
  overflow: hidden;
  width: 100%;
  text-align: center;
}


.topnav a {
	text-align: center;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 40px;
  font-family: Courier New;

}  

  #pic {
  padding-left: 38%;
  align-self: center;
    display: flex;
 padding-bottom: 30px;
    
  }
  
  
 p{
    font-size: 50px;
    text-align: center;
    font-family: Courier New;
  }
  

p {
  text-align: center;
  font-size: 24px;
}

.flashcard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.flashcard h2 {
  font-size: 24px;
  text-align: center;
}

.flashcard p {
  font-size: 18px;
  text-align: center;
}

#activeCardButtons {
  margin: 0 auto;
  text-align: center;
}


a.close {
  float: right;
  width: 26px;
  height: 26px;
  background: url('https://microwavemansion.com/images/cancel.png') no-repeat top left;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: url('https://microwavemansion.com/images/overlay.png') repeat top left;
}

#deckSubmit,
#saveDeck {
  width: 50%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

#deckSubmit:hover,
#saveDeck:hover {
  border: 2px solid green;
}

.lightText {
  color: gray;
  position: fixed;
  bottom: 12px;
  right: 5px;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
}

    footer {
        background-color: #18113C;
        color: #fff;
        text-align: center;
        padding: 10px;
    }
    
        p {
    font-size: 20px;
    }