body {
  font-family: Courier New;
  margin: 0;
  padding: 0;
  padding-top: 200px;
}

h2 {
  text-align: center;
  font-family: Courier New;
}

form {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

div {
	padding-top: 25px;
	  background-color: #FFCC00;
	  border-radius: 10px;
	  height:450px;
	  margin: auto;
	  width: 25%;
}
	 
#username, #email, #password {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}


#submit {
	text-decoration: none;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
  background-color: #18113C;
  color: white;
  border-radius: 15px;
  font-family: Courier New;
  font-size: 20px;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

