.topnav {
  background-color: white;
  overflow: hidden;
  width: 100%;
  text-align: center;
}


.topnav a {
	text-align: center;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 40px;
  font-family: Courier New;

}  


  #pic {
  padding-left: 38%;
  align-self: center;
    display: flex;
 padding-bottom: 30px;
    
  }
  
  .about-section {
  padding: 50px;
  text-align: center;
  background-color: #18113C;
  color: white;
   font-size: 20px;
  font-family: Courier New;
}

    body {
          font-family: Courier New;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #f2f2f2;
        padding: 10px;
    }

    #pic {
		padding: 0px;
		padding-left: 700px;
    }
    


    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px; 
    }

    .graphic {
        flex: 1;
        max-width: 50%; 
    }

    .graphic img {
        width: 100%;
        height: auto;
    }

    .text {
        flex: 1;
        padding: 20px;
        line-height: 1.5;
    }

    footer {
        background-color: #18113C;
        color: #fff;
        text-align: center;
        padding: 10px;
    }
    
        p {
    font-size: 20px;
    }
    
  
  