<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="about.css">
  <title>Home</title>
</head>

<header> 	
<img id = "pic" src="images/logo.png">
<div class="topnav">
  <a th:href="@{/user_home(username=${username})}"> Home</a>
  <a th:href="@{/about(username=${username})}">About</a> 
  <a th:href="@{/learn(username=${username})}">Learn</a>
  <a th:href="@{/fc(username=${username})}">Flashcards</a> 
  <a class="active" href="profile.html">Profile</a>
  <a href="settings.html">Settings</a> 
</div>
<hr>
</header>

<h3 style="text-align:center">Our Team</h3>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="images/p1.jpeg" style="width:100%">
      <div class="container">
        <h2>Ambrosia Ingoglia</h2>
        <p class="title">Team Leader & Front-End Dev</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/p2.jpeg" style="width:100%">
      <div class="container">
        <h2>Thaddeus Gatlin</h2>
        <p class="title">Back-end Dev</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/p3.jpeg" style="width:100%">
      <div class="container">
        <h2>Guillian Germino</h2>
        <p class="title">Back-End Dev</p>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="images/p4.jpeg" style="width:100%">
      <div class="container">
        <h2>Abram Iverson</h2>
        <p class="title">Front-End Dev</p>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="images/p5.jpeg" style="width:100%">
      <div class="container">
        <h2>Ethan Peterson</h2>
        <p class="title">Back-End Dev</p>
      </div>
    </div>
  </div>
  
</div>


</html>