<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="set.css">
  <title>Home</title>
</head>

<header> 	
<img id = "pic" src="images/logo.png">
<div class="topnav">
  <a href="user_home"> Home</a>
  <a href="about.html">About</a> 
  <a href="learn.html">Learn</a>
  <a class="active" href="fc">Flashcards</a> 
  <a href="profile.html">Profile</a>
  <a href="settings.html">Settings</a> 
</div>
<hr>

<body>
	<h2>I want to study...</h2>
	<table id="pick">
		  <tr>
		    <th> <a href="DSflashcard"><img src="images/data.png"> <br> Data Structures  </a> </th>
		    <th>  <a href="OOPflashcard"><img src="images/oop.jpg">   <br>Object Oriented Programming </a> </th>
		    <th> <a href="swe.html"><img src="images/swd.png"> <br>Software Engineering </a></th>
		  </tr>
		  <tr>
		    <th> <a href="user_home"> <img src="images/cs.jpg">  <br> Computer Security </a>  </th>
		    <th> <a href="user_home"> <img src="images/os.png"> <br> Operating Systems </a>  </th>
		    <th> <a href="user_home">  <img src="images/csb.jpg">  <br>  Computer Science Basics </a> </th>
		  </tr>
	</table>
</body>

</header>

</html>
