<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles.css">
  <title>Home</title>
</head>

<header> 
    <div>
        <img id = "pic" src="images/logo.png">
        <a href='new_account'>
        <h1><button class="btn">Get Started</button></h1> </a>
    </div>
    <hr>
</header>

<table>
  <tr> 
    <td><SCRIPT>
    function ShowAndHide() {
        var x = document.getElementById('SectionName');
        if (text1.innerText == "____________") {
        	text1.innerText = "Text starts hidden";
        } else {
        	text1.innerText = "____________";
        }
    }
    </SCRIPT>
    <BUTTON ONCLICK="ShowAndHide()"><img src="images/button_front-of-card.png"></BUTTON>
    <DIV class="boxed">
          <DIV ID="SectionName"><p id="text1">____________</p></DIV>
    </DIV></td>
    <td>
    <SCRIPT>
    function ShowAndHide1() {
        var x = document.getElementById('SectionName1');
        if (text2.innerText == "____________") {
        	text2.innerText = "Text starts hidden";
        } else {
        	text2.innerText = "____________";
        }
    }
    </SCRIPT>
    <BUTTON ONCLICK="ShowAndHide1()"><img src="images/button_back-of-card.png"></BUTTON>
    <DIV class="boxed">
          <DIV ID="SectionName1"><p id="text2">____________</p></DIV>
    </DIV>
    </td>
  </tr>
</table>
<hr>

</html>

<style>
    .boxed {
          border: 1px solid green ;
    }
</style>
<!--TODO-->
<!--Make reveal buttons in constant spots-->
<!--Stylize boxes-->
