<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="learn.css">
  <title>Home</title>
</head>

<header> 	
<img id = "pic" src="images/logo.png">
<div class="topnav">
  <a th:href="@{/user_home(username=${username})}"> Home</a>
  <a th:href="@{/about(username=${username})}">About</a> 
  <a th:href="@{/learn(username=${username})}">Learn</a>
  <a th:href="@{/fc(username=${username})}">Flashcards</a> 
  <a href="profile.html">Profile</a>
  <a href="settings.html">Settings</a> 
</div>
<hr>
</header>

<body>
<table id="pick" class="center">
	<tr>
	    <th> <a th:href="@{/newfc(username=${username})}"><img src="images/create.png"><br>Create</a> </th>
	</tr>
</table>

<p>Games</p>
<button class="collapsible">Wordle</button>
<div class="content">
  <p><iframe src="https://mywordle.strivemath.com/?word=xmkhd" height="700" width="100%" style="border:0"></iframe></p>
</div>
<button class="collapsible">Hangman</button>
<div class="content">
  <p><iframe src="https://www.hangmanwords.com/play/custom?g=Ynl0ZXM=" height="700" width="100%" style="border:0"></iframe></p>
</div>
<button class="collapsible">Word Search</button>
<div class="content">
  <p><img src="images/cw.png"></p>
</div>
<br><br>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>
