<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="set.css">
  <title>Home</title>
</head>

<header> 
	<div>
		<img id = "pic" src="images/logo.png">
		<h1>Your one-stop shop for learning Computer Science</h1>
	</div>
	<hr>
</header>


<body style="background-image: url('images/screen.png');">
	<h2>I want to learn...</h2>
	<table id="pick">
		  <tr>
		    <th> <a href="ds"><img src="images/data.png"> <br> Data Structures  </a> </th>
		    <th>  <a href="DSflashcard"><img src="images/oop.jpg">   <br>Object Oriented Programming </a> </th>
		    <th> <a href="swe.html"><img src="images/swd.png"> <br>Software Engineering </a></th>
		  </tr>
		  <tr>
		    <th> <a href="user_home"> <img src="images/cs.jpg">  <br> Computer Security </a>  </th>
		    <th> <a href="user_home"> <img src="images/os.png"> <br> Operating Systems </a>  </th>
		    <th> <a href="user_home">  <img src="images/csb.jpg">  <br>  Computer Science Basics </a> </th>
		  </tr>
	</table>
</body>

</html>