<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="swe.css">
  <title>Home</title>
</head>

<header> 	
<img id = "pic" src="images/logo.png">
<div class="topnav">
	<h2 th:text="${reply}"></h2>
  <a href="user_home.html"> Home</a>
  <a href="about.html">About</a> 
  <a href="learn.html">Learn</a>
  <a class="active" href="fc.html">Flashcards</a> 
  <a href="profile.html">Profile</a>
  <a href="settings.html">Settings</a> 
</div>
<hr>
</header>
<body>
<iframe src="https://quizlet.com/890059882/flashcards/embed?i=3hp4y5&x=1jj1" height="700" width="100%" style="border:0"></iframe>
</body>

</html>