<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="user_hp.css">
  <title>Home</title>
</head>

<header> 	

</header>

	<table>
	  <tr>
	    <th> <img id = "pic" src="images/logo.png"> </th>
	  <tr>
	  <tr>
	      <th>
			<ul>	
			  <li><a href="user_home.html"> <img id = "images" src="images/home.png"> Home</a></li>
			  <li><a href="#"> <img id = "images" src="images/about.png"> About</a></li>
			  <li><a href="#"> <img id = "images" src="images/learn.png"> Learn</a></li>
			  <li><a href="#"> <img id = "images" src="images/FC.png"> Flashcards</a></li>
			  <li><a href="#"> <img id = "images" src="images/profile.png"> Profile</a></li>
			  <li><a href="#"> <img id = "images" src="images/settings.png">Settings</a></li>
			</ul>   
		</th> 
	  <tr>
	</table>


</body>

</html>