<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="user_hp.css">
  <title>Home</title>
</head>

<header> 	
<img id = "pic" src="images/logo.png">
<div class="topnav">
	<h2 th:text="${reply}"></h2>
  <a class="active" href="user_home.html"> Home</a>
  <a href="about.html">About</a> 
  <a href="learn.html">Learn</a>
  <a href="fc.html">Flashcards</a> 
  <a href="profile.html">Profile</a>
  <a href="settings.html">Settings</a> 
</div>
<hr>
</header>
<div class="about-section">
  <h1>With how competitive the job and internship market is for computer science majors and graduates, you need to make sure you have the skills and qualifications in order to be the best candidate. However, you might not remember specific algorithms or terms that are necessary to know. In order to help with this, we are creating a website called ByteLingo, an interactive learning website for computer science topics. Our hope is that the users will not have to go looking for the essential information themselves; everything they need will be on our website. We have this website that can help students nail their next interview to be able to get their dream job or internship
  
  </h1>
</div>

</html>
